.to-do-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    background-color: transparent;
    border: solid .2rem #010101;
    color: #010101;
    padding: 2rem 3rem;
    list-style: none;
    width: 80vw;
    max-width: 60rem;
    border-radius: .5rem;
    flex-wrap: wrap;
    gap: 1rem;
    overflow: hidden;
    & .input-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
        width: 80%;
        max-width: 40rem;
        & .input-name {
            width: 100%;
            font-size: 1.8rem;
            overflow-wrap: break-word; 
        }
    }
    & .buttons-container {
        display: flex;
        gap: 1rem
    }
};